@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 10, 10, 26; /* #0a0a1a in RGB */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes slide {
  0%,
  20% {
    transform: translateX(0%);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  100% {
    transform: translateX(0%);
  }
}

.animate-slide {
  animation: slide 12s infinite ease-in-out;
}

@keyframes text-shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
